.App {
  text-align: center;
}
.background{
  height:100vh;
  width:auto;
}
.nav{
  background-color:rgb(240, 205, 6);
  font-style: normal;
  padding-left: 1.5rem;
  height: 3rem;
}
.submenu{
  margin-left: 65%;
}
